
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Groupie Tracker error page</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/static/styleforerror.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>{{.}}</h1>
				{{if eq . "404"}}
				<h2>Page not found</h2>
				{{else if eq . "500"}}
				<h2>Internal servor error</h2>
				{{else}}
                <h2>Method not allowed</p>
				{{end}}
			</div>
			<a href="/">Homepage</a>
		</div>
	</div>
</body>

</html>
