<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>groupie</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
       <form action="/localization" method="post">
        <input type="hidden" name="q" value="{{.The_arts.Name}}">
        <input type="submit" value="LOCATION MAP">
       </form>
    </nav>
    <hr>
    <hr>
    <main>
        {{if ne .The_arts.Id 1}}
     <a href="/info/{{.Prev}}"><div class="move prev">prev</div></a>
       {{end}}
       
       {{if ne .The_arts.Id 52}}
      <a href="/info/{{.Next}}"><div class="move next">next</div></a>
     {{end}}

     <div><img src="{{.The_arts.Image}}" alt="zrt"></div>
     <h1>Id: <i>{{.The_arts.Id}}</i></h1>
    <h1>Name: {{.The_arts.Name}}</h1>
    <h1><strong>Members:</strong></h1>
    <ol>
        {{range .The_arts.Member}}
        <li>{{.}}</li>
        {{end}}
    </ol>
    <h1><strong>Creation date: {{.The_arts.Creation_date}}</strong></h1>
    <h1><strong>First album: {{.The_arts.First_album}}</strong></h1>
    <h1><strong>Location:</strong></h1>
    <ul>
        {{range .Cities.Location}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    <h1><strong>dates:</strong></h1>
    <ol>
        {{range .Days.Date}}
        <li>{{.}}</li>
        {{end}}
    </ol>

    <h1><strong>Relations:</strong></h1>
    <table>
<th>
    <tr>
<td>locations</td>
<td>dates</td>
</tr>
</th>
{{range $key, $value := .Links}}
<tr>
    <td>
        <pre>{{$key}}</pre>
    </td>
    <td>
        {{range $value}}
        <pre>{{.}}</pre>
        {{end}}
    </td>
</tr>
{{end}}

    </table>
</main>
</body>
</html>