.move {
    position: relative;
    display: inline-block;
    border-radius: 10%;
    width: 10%;
    background-color: blue;
    text-align: center;
    color: aliceblue;
    font-size: larger;
}
.next {
    left :450px
}

.prev {
    left: 50px;
    margin-bottom: 5%;
}

a {
    color: white;
    text-decoration: none;
}

nav, a {
    color: black;
    font-weight: bolder;

}

nav, input,button {
    position: relative;
    left: 20%;
}